body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  position:absolute;
left:0;
bottom:0;
right:0;
text-align: center;
position: absolute;
bottom: 0;
width: 100% !important;
height: 100px !important ;
background: rgb(63,80,181);
color: #e7e7e7;
position: sticky;
flex-direction: column;
justify-content: center;
}

/* .cards {
  flex-direction: row;
} */


.container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap  !important; */
  display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto;
grid-auto-flow:column;
 
/* grid-gap: 1rem; */
}

.content-container {
  display: inline-grid;
  border: 2px solid #e7e7e7;
 
border-radius: 4px;
 
padding: .5rem;
}